*
!/.bash_aliases
!/.bash_logout
!/.bashrc*
!/.gitconfig
!/.gitexcludes
!/.gitignore
!/.profile*
!/bin/
!/bin/.gitignore
!/.emacs.d/
!/.emacs.d/*
!/.emacs.d/elpa/
!/.emacs.d/elpa/*
!/.emacs.d/elpa-to-submit/
!/.emacs.d/elpa-to-submit/*
*~
