[user]
	email = paul@stadig.name
	name = Paul Stadig
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = tracking
[core]
	excludesfile = ~/.gitexcludes
	editor = /usr/bin/emacsclient -nw
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[diff "clojure"]
      xfuncname = "^\\(.*"
[github]
	user = pjstadig
	token = !cat ~/.github.token
