[user]
        email = paul@stadig.name
        name = Paul Stadig
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[push]
        default = tracking
[core]
        excludesfile = ~/.gitexcludes
        editor = emacs -nw
        whitespace = trailing-space,space-before-tab,tab-in-indent
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        unstage = reset HEAD --
        last = log -1 HEAD
[diff "clojure"]
      xfuncname = "^\\(.*"
[github]
        user = pjstadig
        token = !cat ~/.github.token
