*
!/.bash_aliases
!/.bash_logout
!/.bashrc*
!/.conkerorrc
!/.gitconfig
!/.gitexcludes
!/.gitignore
!/.profile*
!/.tmux.conf
!/.Xresources*
!/.xsessionrc
!/bin/
!/bin/.gitignore
!/.config/
!/.config/.gitignore
!/.emacs.d/
!/.emacs.d/*
!/.emacs.d/elpa/
!/.emacs.d/elpa/*
!/.emacs.d/elpa-to-submit/
!/.emacs.d/elpa-to-submit/*
!/.ssh/
!/.ssh/config
!/.xmonad/
!/.xmonad/.gitignore
!/org
*~
