
[Desktop Entry]
Type=Application
Exec=gnome-panel
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=gnome-panel
Name=gnome-panel
Comment[en_US]=
Comment=
